.tail{
    height: 50px;
    width: 100%;
    background-color: #5f0038;
    display: flex;
    color: #cdf7ff;
    position: absolute;
    bottom: 0px;
}

.tail_left{
    padding-left: 30%;
    width: 50%;
    padding-top: 15px;
}

.tail_right{
    padding-left: 5%;
    width: 50%;
    padding-top: 15px;
}