.berry_img{
    padding-top: 10px;
    width: 80% !important;
    height: auto !important;
}

.MuiPaper-rounded {
    border-radius: 40px !important;
}

.makeStyles-paper-11,.makeStyles-paper-9,.makeStyles-paper-7,
.makeStyles-paper-8,.makeStyles-paper-12,.makeStyles-paper-13,
.makeStyles-paper-1,.makeStyles-paper-2,.makeStyles-paper-3,
.makeStyles-paper-4,.makeStyles-paper-5,.makeStyles-paper-6 {
    padding: 0px !important;
    background: #FFEFEF !important;
    width: 70% !important;
}

.berry_text{
    margin-top: 10px;
    margin-bottom: 10px;
    color:  #AF4F87;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 500;
    font-size: 15px;
    text-shadow: 2px 2px 4px silver;
    text-align: center;
}