h2,h4{
    text-shadow: 1px 1px 2px silver;
    color:  #5f0038;
}

h4{
    text-align: right;
}
p{
    text-align: right;
    text-shadow: 1px 1px 2px silver;
    color:  #AF4F87;
}

.body3{
    margin: 0% auto;
}
.contactsMain{
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
    padding: 50px;
    justify-content: space-around;
}
.contacts{
    padding-top: 10px;

    text-align: right;
    width: 300px;
    height: auto;
}




.first{
    margin-top: 70px;
    
}