.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: block;
}
.head_top{
  background-color: #87446b;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  

}

.social{
  position: relative;
  margin: auto 10px;
  padding-top: 10px;
  left: 10;
}

.head_middle{
  display: flex;
  position: relative;
  background-color: white;
  height: 70px;
}
.head_below{
  position: initial;
  background-color: white;
}

.label{
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  width: 40%;
  color: #5f0038;
}

.titles{
  color: #5f0038;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px silver;
}

.MuiSvgIcon-root{
  color: white;
  position: relative;
  padding-top: 10px;
}

.MuiSvgIcon-root:hover{
  color: #cdf7ff;
}

.MuiPaper-elevation1{
  box-shadow: none !important;
}

.MuiTab-textColorPrimary.Mui-selected, .MuiTab-textColorPrimary {
  color: #AF4F87;
}

.MuiTab-textColorPrimary.Mui-selected:hover, .MuiTab-textColorPrimary:hover {
  background-color: #AF4F87;
  color: white;
}



.MuiTab-textColorPrimary.Mui-selected {
  color: #AF4F87 !important;
}

.menu{
  text-align: right !important;
}

.makeStyles-gridList-7{
  width: 80% !important;
  height: auto !important;
}
.main_body{
  height: auto;
}

.MuiGridList-root{
  overflow-y: none !important;
  overflow: hidden;
}

.text{
  margin-top: 20px;
  color:  #AF4F87;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 1px 1px 2px silver;
  text-align: left;
}

.berry_img{
  padding-top: 10px;
  width: 80% !important;
  height: auto !important;
}

.MuiPaper-rounded {
  border-radius: 40px !important;
}

.makeStyles-paper-11,.makeStyles-paper-9,.makeStyles-paper-7,
.makeStyles-paper-8,.makeStyles-paper-12,.makeStyles-paper-13,
.makeStyles-paper-1,.makeStyles-paper-2,.makeStyles-paper-3,
.makeStyles-paper-4,.makeStyles-paper-5,.makeStyles-paper-6 {
  padding: 0px !important;
  background: #FFEFEF !important;
  width: 70% !important;
}

.berry_text{
  margin-top: 10px;
  margin-bottom: 10px;
  color:  #AF4F87;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 500;
  font-size: 15px;
  text-shadow: 2px 2px 4px silver;
  text-align: center;
}